<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', {title: 'Aggiungi studente'}); %>
<body>

<div class="btn-group btn-group-lg w-100 p-3">
    <button class="btn btn-primary active">Aggiungi Studente</button>
    <button class="btn btn-primary" href="/remStudent">Rimuovi Studente</button>
    <button class="btn btn-primary" href="/addExam">Aggiungi Esame</button>
    <button class="btn btn-primary" href="/regGrade">Registra Voto</button>
</div>

<div class="container w-100">
    <h2 class="float-right"><%= locals.nome %> <%= locals.cognome %></h2>
</div>



<div class="container">
    <h2>Aggiungi studente</h2>

    <form method="post">
        <div class="form-row">
            <div class="col">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" name="nomeAggiungiStudente" required>
            </div>
            <div class="col">
                <label for="cognome">Cognome:</label>
                <input type="text" class="form-control"  name="cognomeAggiungiStudente" required>
            </div>
        </div>
        <div class="form-group">
            <label for="matricola">Matricola:</label>
            <input type="number" class="form-control" name="matricolaAggiungiStudente" required>
        </div>
        <div class="form-group">
            <label for="facolta">Facoltà:</label>
            <select class="form-control" name="facoltaAggiungiStudente"  required>
                <option disabled selected value> -- selezionare una facoltà -- </option>
                <option value="ingegneria">Ingegneria</option>
                <option value="medicina">Medicina</option>
                <option value="lettere">Lettere</option>
            </select>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control"  name="passwordAggiungiStudente"  required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Aggiungi</button>
        </div>
        <%- include('partials/error.ejs', {action: 'addStudent'})%>
    </form>
</div>

</body>
</html>