<div class="container user">
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-primary float-right">Log Out</button>
    </form>
    <h4 class="float-right"><%= locals.nome %> <%= locals.cognome %></h4>
</div>