<div class="container w-100">
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-primary">Log Out</button>
        <h2 class="float-right"><%= locals.nome %> <%= locals.cognome %></h2>
    </form>
</div>