<!-- views/error.ejs -->
<!-- Pagina per gli errori quando non si trova la pagina richiesta-->

<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {title: 'Error'}); %>
    <link href="css/error404.css" rel="stylesheet" type="text/css">
</head>

<body class="text-center">
<div class="container">
    <span class="material-icons">school</span>
    <span class="error-display">Error 404, page not found</span>
</div>

</body>
</html>
