<!-- views/login.ejs -->
<!-- Pagina per effettuare il login -->

<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs', {title: 'Esse3'}); %>
    <link href="css/signin.css" rel="stylesheet" type="text/css">
  </head>

  <body class="text-center">
    <form class="form-signin" action="/login" method="post">
      <i class="material-icons">school</i>
      <h1 class="h3 mb-3 font-weight-normal">Esse3</h1>
      <label for="matricola" class="sr-only">Matricola</label>
      <input type="number" id="matricola" name="matricola" class="form-control" placeholder="Matricola" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <%- include('partials/error.ejs', {action: 'login'})%>
    </form>

</body>
</html>
