<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {title: 'Rimuovi Studente'}); %>
    <link href="css/administrator.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="fixed-top">
<%- include('partials/user.ejs'); %>

    <div class="container user">
        <nav class="navbar navbar-expand-md bg-primary navbar-dark rounded w-100">
            <a class="navbar-brand"><i class="material-icons">school</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/addStudent">Aggiungi Studente</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/remStudent">Rimuovi Studente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addExam">Aggiungi Esame</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regGrade">Registra Voto</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <form class="form-admin" method="post">
        <h2 class="text-center">Rimuovi Studente</h2>
        <%- include('partials/error.ejs', {action: 'remStudent'})%>
        <div class="form-group">
            <label for="matricola">Matricola:</label>
            <input type="number" class="form-control" id="matricola" name="matricola" required autofocus>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-lg btn-primary">Rimuovi</button>
        </div>
    </form>
</div>

</body>
</html>