<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs', {title: 'Rimuovi Studente'}); %>
    <link href="css/administrator.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="fixed-top">
<%- include('partials/user.ejs'); %>

    <div class="container">
    <div class="btn-group btn-group-lg w-100">
        <a class="btn btn-primary" href="/addStudent">Aggiungi Studente</a>
        <a class="btn btn-primary active">Rimuovi Studente</a>
        <a class="btn btn-primary" href="/addExam">Aggiungi Esame</a>
        <a class="btn btn-primary" href="/regGrade">Registra Voto</a>
    </div>
    </div>
</div>

<div class="container">
    <form class="form-admin" method="post">
        <h2 class="text-center">Rimuovi Studente</h2>
        <div class="form-group">
            <label for="matricola">Matricola:</label>
            <input type="number" class="form-control" id="matricola" name="matricola" required autofocus>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-lg btn-primary">Rimuovi</button>
        </div>
    </form>
    <%- include('partials/error.ejs', {action: 'remStudent'})%>
</div>

</body>
</html>