html,
body {
  background-color: #f5f5f5;
}

.form-admin {
  padding-top: 8em;
}

.form-admin h2{
  padding-bottom: 0.6em;
}

.user{
  padding-top: 0.3em;
  padding-bottom: 2.6em;
  background-color: #f5f5f5;
}

.user h4{
  padding-top: 0.3em;
  padding-right: 1%;
}

.container .navbar .material-icons{
  font-size:2em;
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
}

.container .navbar ul{
  transform: translateX(+7%);
}
