html,
body{
  background-color: #f5f5f5;
}

.user{
  padding-top: 5px;
  padding-bottom: 42px;
  background-color: #f5f5f5;
}

.user h4{
  padding-top: 3px;
  padding-right: 1%;
}

.student{
  padding-top: 125px;
}

.student h2{
  padding-bottom: 10px;
}

.exam{
  margin-bottom: 5px;
}

.regExam{
  margin-bottom: 5px;
}

.exam button{
  margin-top: 28px;
}

.regExam button{
  margin-top: 18px;
}