html,
body{
  background-color: #f5f5f5;
}

.user{
  padding-top: 0.3em;
  padding-bottom: 2.6em;
  background-color: #f5f5f5;
}

.user h4{
  padding-top: 0.3em;
  padding-right: 1%;
}

.student{
  padding-top: 8em;
}

.student h2{
  padding-bottom: 0.6em;
}

.exam{
  margin-bottom: 0.3em;
}

.regExam{
  margin-bottom: 0.3em;
}

.exam button{
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.container .navbar .material-icons{
  font-size:2em;
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
}

.container .navbar ul{
  transform: translateX(+12%);
}